@import "src/styles/partial/global";
@import "../src/styles/partial/variables";
@import "../src/styles/partial/mixins";
@import "../src/styles/partial/typography";

html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', serif; 
  }
